[client]
port            = 3306
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION
table_open_cache = 500
character-set-server = utf8mb4

innodb_file_format     = Barracuda
innodb_file_format_max = Barracuda
innodb_large_prefix    = true

server-id=1
binlog_format=ROW
